# SPDX-License-Identifier: GPL-2.0
#
# Copyright (C) 2021-2023 Dakkshesh <dakkshesh5@gmail.com>.

config KPROFILES
	tristate "Kprofiles Kernel Module"
	default y
	help
	  This allows you to regulate in-kernel activities in a profile-oriented manner.
	  It creates a sysfs node which can be used to change profiles via userspace.
	  It provides 4 profile modes: Disabled, Battery, Balanced and Performance.

	  The former can be used to disable/enable or tune kernel activities according
	  to a profile mode. Check the README.md for more information.

	  It's safe to say Y here, as the driver isn't very demanding and is only
	  used when developer uses the exported API functions in an another driver.

if KPROFILES

config DEFAULT_KP_MODE
	int "Default mode number for kp_mode"
	range 0 3
	default 0
	help
	  Kprofiles will activate this mode during boot-up.

config AUTO_KPROFILES
	bool
	help
	  This option is selected if one of the Auto Kprofiles options is enabled.

choice
	prompt "Auto Kprofiles support"
	default AUTO_KPROFILES_NONE
	help
	  This option toggles the automated mode changer in Kprofile. When enabled,
	  Kprofiles will utilise the notifier API(s) to transition between presently
	  active mode and battery mode based on the device's screen state. Because
	  of notifier API requirements, it is disabled by default.

	  If unsure, select AUTO_KPROFILES_NONE.

config AUTO_KPROFILES_MSM_DRM
	bool "Auto Kprofiles using msm_drm_notifier"
	depends on DRM_MSM
	select AUTO_KPROFILES
	help
	  Select this to enable Kprofile's automatic mode changer via msm_drm_notifier.
	  When this option is enabled, Kprofiles will automatically switch to battery
	  mode when device screen turns off and will switch back to previously active
	  mode when the device wakes up.

config AUTO_KPROFILES_MI_DRM
	bool "Auto Kprofiles using mi_drm_notifier"
	depends on !DRM_MSM
	select AUTO_KPROFILES
	help
	  Select this to enable Kprofile's automatic mode changer via mi_drm_notifier.
	  When this option is enabled, Kprofiles will automatically switch to battery
	  mode when device screen turns off and will switch back to previously active
	  mode when the device wakes up.

config AUTO_KPROFILES_FB
	bool "Auto Kprofiles using fb_notifier"
	depends on FB
	select AUTO_KPROFILES
	help
	  Select this to enable Kprofile's automatic mode changer via fb_notifier.
	  When this option is enabled, Kprofiles will automatically switch to
	  battery mode when device screen turns off and will switch back to
	  previously active mode when the device wakes up.

config AUTO_KPROFILES_NONE
	bool "None"
	help
	  Select this to build Kprofiles without auto Kprofiles.

endchoice

endif # if KPROFILES
